@media (min-width: 1024px) {
	.header__container--section1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
@media (min-width: 1024px) {
	.header__container--section1 div {
		margin: auto;
		width: 270px;
	}
}
@media (min-width: 1024px) {
	.section1__button,
	.section3__button,
	.section5__button,
	.section8__button {
		width: 275px;
	}
}
@media (min-width: 1024px) {
	.section1__figure img {
		width: 432px;
		height: 471px;
	}
}
@media (min-width: 1024px) {
	.section3 {
		width: 928px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.section3__paragraph,
	.section5__paragraph {
		width: 432px;
	}
}
@media (min-width: 1024px) {
	.section3__img,
	.section5__img {
		width: 354px;
		height: 432px;
	}
}
@media (min-width: 1024px) {
	.section4 {
		width: 928px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.section5__container {
		width: 928px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
@media (min-width: 1024px) {
	.section6__container {
		flex-direction: row-reverse;
	}
}
@media (min-width: 1024px) {
	.flexbox__responsive {
		display: flex;
	}
}
