:root {
	--blue1: #2991cc;
	--blue2: #14233c;
	--red: #e72141;
	--gray: #4d5870;
	--white: #ffffff;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto", sans-serif;
}
/* header */
.header {
	background-color: var(--blue2);
}

.header__nav--logo {
	color: var(--white);
	text-decoration: none;
	font-size: 2.4rem;
	font-weight: 800;
	letter-spacing: 2px;
}

.header__nav--logo span {
	color: var(--red);
	font-size: 3rem;
}
.navbar-toggler span {
	color: var(--white);
}
.nav__menu--border {
	border-color: var(--white) !important;
}
.header__nav--title {
	display: block;
	text-decoration: none;
	color: var(--white);
	font-size: 1.5rem;
	padding-bottom: 20px;
}
.header__nav--title1 {
	display: block;
	text-decoration: none;
	color: var(--white);
	font-size: 1.5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header__nav--button {
	background-color: var(--blue1);
	border: 0;
	border-radius: 40px;
	padding: 6px 0;
	width: 250px;
	color: var(--white);
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0 auto;
}
/* link-items */
.nav__link--items {
	background-color: var(--blue2);
	border: 0;
}
.nav__link--items a {
	color: var(--white);
	font-size: 1.5rem;
	padding-top: 10px;
}
/* link-items */
/* header */
