:root {
	--blue1: #2991cc;
	--blue2: #14233c;
	--red: #e72141;
	--gray: #4d5870;
	--white1: #ffffff;
	--white2: #f7f7f7;
	--green: #e9fde8;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto", sans-serif;
}
/* header */
.header {
	background-color: var(--blue2);
}

.header__nav--logo {
	color: var(--white1);
	text-decoration: none;
	font-size: 2.4rem;
	font-weight: 800;
	letter-spacing: 2px;
}

.header__nav--logo span {
	color: var(--red);
	font-size: 3rem;
}
.navbar-toggler span {
	color: var(--white1);
}
.nav__menu--border {
	border-color: var(--white1) !important;
}
.header__nav--title {
	display: block;
	text-decoration: none;
	color: var(--white1);
	font-size: 1.5rem;
	padding-bottom: 20px;
}
.header__nav--title1 {
	display: block;
	text-decoration: none;
	color: var(--white1);
	font-size: 1.5rem;
	padding-top: 20px;
	padding-bottom: 20px;
}
.header__nav--button {
	background-color: var(--blue1);
	border: 0;
	border-radius: 40px;
	padding: 6px 0;
	width: 250px;
	color: var(--white1);
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0 auto;
}
/* link-items */
.nav__link--items {
	background-color: var(--blue2);
	border: 0;
}
.nav__link--items a {
	color: var(--white1);
	font-size: 1.5rem;
	padding-top: 10px;
}
/* link-items */
/* header-announcement */
.header__container--announcement {
	background-color: var(--blue1);
	height: 78px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.header__announcement--heading3 {
	color: var(--white1);
	font-size: 1.8rem;
	font-weight: 600;
}
.header__announcement--link {
	color: var(--white1);
	font-weight: 400;
}
/* header-announcement */
/* header-section1 */
.header__container--section1 {
	padding: 64px 32px;
	width: 100%;
}
.section1__h1 {
	color: var(--white1);
	font-size: 3rem;
}
.section1__paragraph {
	margin: 20px 0 25px 0;
	color: var(--white1);
	font-size: 1.6rem;
}
.section1__button {
	background-color: var(--blue1);
	border: 0;
	border-radius: 55px;
	color: var(--white1);
	padding: 5px 15px;
	font-size: 1.8rem;
	width: 90%;
	font-weight: bold;
}
.section1__img {
	margin-top: 60px;
	width: 270px;
}
/* header-section1 */
/* header */
/* main */

/* section2 */
.container__section2 {
	background-color: var(--white1);
	padding: 32px 32px;
	height: 300px;
	width: 100%;
	/* margin-top: -90px; */
}
.section2__h3 {
	text-align: center;
	font-size: 2.4rem;
	font-weight: 500;
}

.section2__img {
	width: 135px;
	margin-top: 10px;
}
/* section2 */
/* section3 */
.section3__background {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		184deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(253, 248, 226, 1) 81%,
		rgba(253, 248, 226, 1) 100%
	);
}
.section3 {
	width: 80%;
}
.section3__h3 {
	text-transform: uppercase;
	padding: 3px 5px;
	background-color: var(--red);
	width: 170px;
	border-radius: 40px;
	color: var(--white1);
	line-height: 15px;
}
.section3__h3 span {
	color: var(--white1);
	font-size: 25px;
}
.section3__h2 {
	font-size: 28px;
	margin-top: 20px;
}
.section3__paragraph {
	font-size: 16px;
	margin-top: 20px;
}
.section3__button {
	background-color: var(--blue1);
	padding: 10px 30px;
	color: var(--white1);
	font-size: 1.6rem;
	font-weight: bold;
	border: 0;
	border-radius: 40px;
	margin-top: 20px;
	text-transform: capitalize;
}
.section3__img {
	margin-top: 35px;
	width: 256px;
}
/* section3 */
/* section4 */
.section4__background {
	background: rgb(233, 253, 232);
	background: radial-gradient(
		circle,
		rgba(233, 253, 232, 1) 14%,
		rgba(255, 255, 255, 1) 77%,
		rgba(255, 255, 255, 1) 100%
	);
}
.section4 {
	width: 80%;
	margin-top: 60px;
}
/* section4 */
/* section5 */
.section5 {
	/* background-color: var(--green); */
}
.section5__container {
	padding-top: 64px;
	width: 80%;
}
.section5__h2 {
	margin-top: 16px;
	font-size: 2.8rem;
}
.section5__paragraph {
	margin-top: 16px;
	font-size: 1.6rem;
}
.section5__button {
	border: 0;
	width: 100%;
	padding: 8px 50px;
	background-color: var(--blue1);
	color: var(--white1);
	border-radius: 40px;
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 24px;
}
.section5__container figure {
	margin: 0 auto;
}
.section5__img {
	width: 100%;
	margin-top: 35px;
}
/* section5 */
/* section6 */
.section6 {
	background-color: var(--white2);
}
/* section6 */
/* section7 */
.section7 {
	background-color: var(--white1);
}
/* section7 */
/* section8 */
.section8 {
	background-color: var(--white2);
}
.section8__button {
	margin-top: 15px;
	border: 0;
	border-radius: 40px;
	padding: 10px 0px;
	width: 100%;
	color: var(--white1);
	background-color: var(--blue1);
	font-weight: bold;
	font-size: 1.6rem;
}
/* section8 */
/* section9 */
.section9 {
	background-color: var(--white1);
}
/* section9 */
/* section10 */
.section10 {
	background-color: var(--white2);
	padding-bottom: 64px;
}
/* section10 */
/* section11 */
.section11 {
	background-color: var(--white);
	padding-top: 64px;
}
.section11__container {
	width: 90%;
}
.section11__h2 {
	font-size: 2.4rem;
	color: var(--blue2);
	margin-bottom: 16px;
}
.section11__paragraph {
	color: var(--blue2);
	font-size: 1.6rem;
	margin-bottom: 16px;
}
.section11__paragraph:nth-child(5) {
	margin-top: 45px;
}
.section11__container--img img {
	width: 256px;
	height: 256px;
	margin-top: 30px;
	border: 1px solid #cbcbcb;
}
.section11__button {
	width: 95%;
	height: 68px;
	padding: 8px 16px;
	margin-top: 24px;
	margin-bottom: 34px;
	border: 0;
	border-radius: 40px;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--blue1);
	background-color: #e9f4fa;
}
/* section11 */
/* section12 */
.section12 {
	background-color: var(--white2);
}
.section12__container {
	width: 90%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.section12__h3 {
	font-size: 2.4rem;
	text-align: center;
}
.section12__paragraph {
	font-size: 1.6rem;
	margin-top: 16px;
	text-align: center;
}
.section12__container--img img {
	width: 135px;
}
/* section12 */
