@media (min-width: 768px) {
	.section1__button {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.container__section2 {
		height: 230px;
	}
}
@media (min-width: 768px) {
	.section2__container--img {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-top: 20px;
	}
}
@media (min-width: 768px) {
	.section2__container--img img {
		width: 170px;
	}
}
@media (min-width: 768px) {
	.section3__h3 {
		width: 200px;
		height: 40px;
		line-height: 25px;
	}
}
@media (min-width: 768px) {
	.section3__button {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.section3__img {
		width: 500px;
	}
}
@media (min-width: 768px) {
	.section11__container--img img {
		width: 600px;
		height: 600px;
	}
}
@media (min-width: 768px) {
	.section12__container--img {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-top: 20px;
	}
}
@media (min-width: 768px) {
	.section12__container--img img {
		width: 170px;
	}
}
@media (min-width: 768px) {
	.container__footer {
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.footer__container--img img {
		width: 170px;
	}
}
@media (min-width: 768px) {
	.footer__container--icons {
		display: flex;
		gap: 30px;
		margin-top: 30px;
	}
}
@media (min-width: 768px) {
	.footer__container--icons img {
		width: 50px;
	}
}
